* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
:root {
  --accent-light-color: #19d894;
  --accent-dark-color: #31c880;
  --text-color: #111;
  --text-elements-color: #fff;
  --add-color: #f4f4f5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}
button {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: #19d894;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main_container {
  max-width: 1280px;
  margin: 0 auto;
}

.main_invested_container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Article */
.article_box {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.main_article,
.article_name {
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
}
.article_name {
  color: var(--accent-light-color);
}

/* Connect tariff section*/

.connect_tariff_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;
}
.tariff_sections_header {
  color: var(--text-color);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 990px) {
  .tariff_sections_header {
    font-size: 36px;
  }
}
@media (max-width: 766px) {
  .tariff_sections_header {
    font-size: 24px;
  }
}
.tariff_sections_header span {
  color: var(--accent-light-color);
}

.connect_tariff_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1120px) {
  .connect_tariff_body {
    justify-content: center;
  }
}
@media (max-width: 766px) {
  .connect_tariff_body {
    justify-content: flex-start;
    font-size: 24px;
  }
}

.connect_tariff_card {
  max-width: 350px;
  max-height: 130px;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  background: var(--add-color, #f4f4f5);
}

.connect_tariff_card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}
.connect_tariff_arrow {
  display: flex;
  justify-content: end;
}

.connect_tariff_info_title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.connect_tariff_info_text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
}

/* Search tariffs section */

.search_tariffs {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.search_tariffs > * {
  flex-grow: 1;
}

@media screen and (max-width: 990px) and (min-width: 766px) {
  .search_tariffs {
    max-height: fit-content;
  }
}
@media (max-width: 766px) {
  .search_tariffs {
    max-height: fit-content;
  }
}

/*Search tariffs  header */
.tariffs_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 990px) {
  .tariffs_header {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    max-height: fit-content;
  }
}
@media (max-width: 766px) {
  .tariffs_header {
    max-height: fit-content;
  }
}

.tariff_switchers {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 990px) {
  .tariff_switchers {
    justify-content: space-between;
  }
}

.tariff_switchers > a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-family: Akzidenz-Grotesk Pro;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.tariff_switchers > a:hover {
  color: var(--accent-light-color);
}
.tariff_switchers > a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-light-color);
}

.tariffs_title {
  color: var(--text-color);
  font-size: 48px;
  font-family: Akzidenz-Grotesk Pro;
  font-weight: 700;
  text-transform: uppercase;
}
.tariffs_title span {
  color: var(--accent-light-color);
}

@media screen and (max-width: 990px) {
  .tariffs_title {
    font-size: 36px;
  }
}
@media (max-width: 766px) {
  .tariffs_title {
    font-size: 24px;
  }
}

/* Tariff tabs */
.tariffs_tabs {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tariffs_tabs p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 4px;
  flex-grow: 1;
  flex-basis: 200px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
}
.tariffs_tabs p:hover {
  background: var(--accent-light-color);
}

/* Tariffs cards */

.tariffs_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1130px) {
  .tariffs_cards {
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .tariffs_cards {
    flex-direction: column;
  }
}
.tariff_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  height: 100vh;
  max-width: 365px;
  flex-basis: 350px;
  max-height: 210px;
  border-radius: 14px;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_picture {
  color: #fff;
  background-image: url("./img/bg_pic.png");
}

.tariff_card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tariff_card_name {
  display: flex;
  max-width: 125px;
  max-height: 25px;
  width: 100%;
  height: 100vh;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #fff;
}
.tariff_card_top img {
  cursor: pointer;
}

.tarrif_card_pic_bg {
  background: transparent;
}
.tariff_card_name {
  border: 1px solid;
}

/* Tarrif card bottom */
.tariff_card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tariff_card_speed {
  max-width: 160px;
  color: inherit;
  font-size: 16px;
  font-family: Akzidenz-Grotesk Pro;
  line-height: 24px;
  opacity: 0.5;
}
.speed_info {
  display: flex;
  justify-content: end;
  font-size: 64px;
  font-family: Akzidenz-Grotesk Pro;
  text-transform: uppercase;
}
.two_hundred_speed {
  color: #fff;
  font-size: 64px;
  font-family: Akzidenz-Grotesk Pro;
  text-transform: uppercase;
}

.tariff_card_bottom > * {
  flex-grow: 1;
}

/* Special equipment section */

.special_equipment_section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.special_equipments_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1130px) {
  .special_equipments_body {
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .special_equipments_body {
    flex-direction: column;
  }
}

.special_equipments_card {
  width: 100%;
  height: 100vh;
  max-width: 350px;
  max-height: 370px;
  position: relative;
  flex-grow: 1;
}

.bg_ZTE,
.bg_GPON,
.bg_ZXV {
  width: 100%;
  height: 100vh;
  max-width: 350px;
  max-height: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_ZTE img,
.bg_GPON img,
.bg_ZXV img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.special_equipments_card_bg {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.special_equipments_card_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.special_equipments_card_info > * {
  flex-grow: 1;
}
.special_equipments_card_sort {
  max-width: 200px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
}
.card_price_box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.special_equipments_price {
  color: var(--accent-light-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.special_equipments_card_btn_box {
  display: flex;
  gap: 10px;
}
.btn_detailed {
  display: flex;
  color: var(--accent-light-color);
  background: transparent;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.btn_detailed:hover {
  color: var(--accent-dark-color);
}

/* Offers section */

.offers_container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.offers_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1130px) {
  .offers_cards {
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .offers_cards {
    flex-direction: column;
  }
}
.offers_card {
  max-width: 350px;
  max-height: 200px;
  width: 100%;
  height: 100vh;
  position: relative;
}

.offers_card > * {
  position: absolute;
}

.offers_card_bg {
  width: 100%;
  height: 100vh;
  max-width: 350px;
  max-height: 210px;
  border-radius: 20px;
}

.offers_card_bg img {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  border-radius: 15px;
}

.offers_card_content {
  padding: 20px;
  max-width: 365px;
  max-height: 215px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
}

.offers_card_arrow {
  display: flex;
  justify-content: end;
}
.offers_card_arrow > img {
  cursor: pointer;
}

.offers_card_content_text h5 {
  color: var(--text-color);
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.favorite_film h5 {
  color: var(--text-elements-color);
}

/* Actions container */

.actions_container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions_top {
  max-width: 1120px;
  max-height: 345px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.actions_top > * {
  position: absolute;
}

.action_bg {
  max-width: 1120px;
  max-height: 345px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.bg_small {
  max-width: 400px;
  max-height: 230px;
  object-fit: contain;
}
@media screen and (max-width: 990px) {
  .bg_small {
    max-width: 400px;
    max-height: 200px;
  }
}
@media screen and (max-width: 776px) {
  .bg_small {
    max-width: 300px;
    max-height: 100px;
  }
}

.actions_top_content {
  top: 20%;
  width: 100%;
  height: 100vh;
  max-height: 250px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 776px) {
  .actions_top_content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.action_title_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.actions_title {
  color: var(--accent-light-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--text-elements-color);
}

.actions_context_parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 766px) {
  .actions_context_parent {
    align-items: center;
  }
}

.actions_context {
  max-width: 450px;
  max-height: 260px;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .actions_context {
    font-size: 36px;
    align-items: center;
  }
}
@media (max-width: 766px) {
  .actions_context {
    text-align: center;
    font-size: 24px;
  }
}

.actions_btn:hover {
  background-color: var(--accent-dark-color);
}

.actions_cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 990px) {
  .actions_cards {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.action_small {
  max-width: 550px;
  max-height: 260px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0px 0px 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 990px) {
  .action_small {
    max-width: 330px;
    max-height: 155px;
  }
}
.action_small_dark {
  background-color: #252527;
}
.action_small_light {
  background-image: url("../img/top_container/action_cards/Action_small_light.png");
}

.action_small_body {
  all: inherit;
  padding: 30px;
}
.action_brand_name {
  color: var(--text-elements-color);
  font-size: 10px;
  font-family: Akzidenz-Grotesk Pro;
  font-weight: 500;
  line-height: 110%;
}

.action_small_content {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 400px;
  max-height: 150px;
}

.action_small_btn_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.action_small_text {
  color: var(--text-elements-color);
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .action_small_text {
    font-size: 20px;
  }
}
@media (max-width: 766px) {
  .action_small_text {
    font-size: 16px;
  }
}

.btn_detailed_light {
  color: var(--text-elements-color);
}

.action_cards_pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.pagination_arrow {
  cursor: pointer;
}
/* Personal area */

.personal_area_main {
  width: 100%;
  max-width: 1280px;
  min-height: 540px;
  position: relative;
}

.personal_area_main > * {
  position: absolute;
}
.pa_main_bg_img {
  width: 100%;
  height: 100%;
  min-height: 540px;
  object-fit: cover;
}

.invested_pa_main {
  width: 100%;
  max-width: 1120px;
  min-height: 540px;
  margin: 0 auto;
  position: relative;
  padding: 70px 0;
}

.personal_area_body {
  position: relative;
  display: flex;
}

.personal_area_body > * {
  min-height: 540px;
}

.pa_content {
  flex: 2;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 776px) {
  .pa_content {
    justify-content: center;
  }
}
.pa_content_title {
  flex: 1;
  color: var(--text-elements-color);
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .pa_content_title {
    font-size: 48px;
  }
}

@media (max-width: 776px) {
  .pa_content_title {
    font-size: 32px;
  }
}

.pa_text_cards {
  flex: 3;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 776px) {
  .pa_text_cards {
    justify-content: center;
    align-items: center;
  }
}

.pa_cards_row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
@media (max-width: 776px) {
  .pa_cards_row {
    flex-direction: column;
    max-width: 330px;
  }
  .pa_robot_hand_fake {
    display: none;
  }
}

.pa_cards_row > * {
  flex: 1;
}

.pa_card_small {
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pa_card_small > * {
  position: absolute;
}
.pa_card_small > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.pa_card_without_bg {
  border-radius: 14px;
  background: #f4f4f5;
}
.pa_card_small_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pa_card_text {
  max-width: 200px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pa_robot_hand_fake {
  flex: 1;
}

.robot_hand_box {
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}
.robot_hand_before_fake {
  flex: 2;
}
.robot_hand_box {
  flex: 2;
}

.robot_hand {
  width: 100%;
  height: auto;
  min-height: 540px;
  object-fit: cover;
}
@media (max-width: 776px) {
  .robot_hand {
    display: none;
  }
}

/* News container */

.news_container_content {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  max-width: 1120px;
  max-height: 540px;
}

.news_container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  font-size: 48px;
  font-family: Akzidenz-Grotesk Pro;
  font-weight: 700;
}
#news_span {
  color: var(--accent-light-color);
}

.news_cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 766px) {
  .news_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news_cards > .news_card:not(.news_order_two) {
    display: none;
  }
}

.news_cards > * {
  flex-grow: 1;
  flex-basis: 320px;
}
.news_card {
  width: 100%;
  height: 100vh;
  max-width: 320px;
  max-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_card_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news_card_img {
  max-width: 320px;
  max-height: 250px;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 14px;
}
.emergency_img {
  background-image: url("../img/top_container/main_news/emergency_work.png");
}
.upgrade_img {
  background-image: url("../img/top_container/main_news/technical_work.png");
}
.technical_img {
  background-image: url("../img/top_container/main_news/upgrade.png");
}

.news_card_img_date {
  padding: 20px;
}

.news_card_img_date p {
  display: flex;
  max-width: 125px;
  max-height: 25px;
  width: 100%;
  height: 100vh;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 40px;
  background: var(--text-elements-color);
  font-size: 14px;
  font-family: Akzidenz-Grotesk Pro;
}

.news_card_text_box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  max-height: 75px;
  width: 100%;
  height: 100vh;
}
.news_card_text_title {
  color: var(--text-color, #111);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.news_card_text {
  max-width: 200px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
}

.news_card_btn_box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn_detailed {
  padding: 0;
}

@media screen and (min-width: 767px) {
  .news_pagination {
    display: none;
  }
}
/* Main form */

.main_form {
  max-width: 1280px;
  margin-bottom: -160px;
}

.invested_main_form {
  background-color: pink;
  margin: 0 auto;
  width: 100%;
  min-height: 350px;
  max-width: 1120px;
  max-height: 350px;
  margin-top: 60px;
  border-radius: 20px;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
}
.main_form_body {
  max-width: 1120px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/top_container/main_form/img_bg_form.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.main_form_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 80px;
  max-width: 850px;
  max-height: 350px;
  width: 100%;
  height: 100vh;
}
@media (max-width: 776px) {
  .main_form_content {
    padding: 0 50px;
  }
}

.main_form_title {
  color: var(--text-elements-color);
  max-width: 600px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .main_form_title {
    font-size: 36px;
  }
}
@media (max-width: 776px) {
  .main_form_title {
    font-size: 24px;
    max-width: 300px;
  }
}

.main_form_text {
  color: var(--text-elements-color);
  max-width: 400px;
  max-height: 60px;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
}

.btn_subscribe {
  background-color: var(--add-color);
  color: var(--text-color);
  padding: 10px 30px;
}

.btn_download_green {
  color: var(--text-elements-color);
}

.bg_img_phone {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.bg_img_phone_fake {
  width: 100%;
  height: 100%;
  flex: 1;
}
@media (max-width: 776px) {
  .bg_img_phone_fake {
    display: none;
  }
}
.bg_img_phone_fill {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  flex: 7;
}

.bg_img_phone_fill img {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}
@media (max-width: 776px) {
  .bg_img_phone_fill img {
    right: unset;
  }
}
